/* Reset Code */
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.fix:before, .fix:after{
    content: "";
    display: table;
    clear: both;
}
ul{
    list-style: none;
}
body{
    font-size: 14px;
    line-height: 22px;
}
.area{
    width: 1000px;
    margin: 0 auto;
}
/* Btn CSS */
.btn{

}

/* Header CSS */
.header {
    background-color: linen;
    padding: 3px;
}
.logo {
    float: left;
    width: 100px;
    margin-top: 10px;
    padding: 0 10px;
}
.logo a{}
.logo a img{}
.menu {
    float: right;
    width: 680px;
}
.menu ul{
    text-align: right;
    margin-top: 20px;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
    display: block;
    font-size: 20px;
    transition: .3s;
}
.menu ul li a:hover{
    background-color: tomato;
    color: white;
}
/* Banner CSS */
.banner{

}

.banner img{

}

/* Services CSS */
.services{

}
.title{

}
.title h4 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    margin: 40px 0;
}
.service{

}
.single-services {
    background-color: teal;
    float: left;
    width: 273px;
    margin-right: 30px;
    padding: 20px;
    color: #fff;
}
.single-services:last-child{
    margin-right: 0;
}
h4 {
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
}
.single-service img{

}
.single-service p{

}
.single-service a{

}
.btn {
    background-color: tomato;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    display: inline-block;
    font-size: 16px;
}

